# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/

# Envs
.env
.venv/

# Logs & reports
logs/
reports/
coverage/

# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Docker artifacts
*.pid

# archivos del proyecto
/archivos_proyecto